@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: black;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", Yu Gothic, "メイリオ",
        "Hiragino Kaku Gothic", "Hiragino Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    background-color: #eeeeee;
}

.service {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    padding: 70px 0px;
    color: #0b8272;
    font-size: 30px;
    text-align: center;
}

.service ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    padding: 0px 35px;
}

.service_list img {
    width: 100%;
}

.service_list_detail {
    padding: 10px;
    background-color: white;
}

.service_list_detail h3 {
    padding: 3px 5px;
    margin-bottom: 5px;
    border-left: 8px solid #0b8272;
    color: #0b8272;
    font-size: 22px;
}

.service_list_detail p {
    line-height: 1.5em;
}

@media screen and (max-width: 400px) {
    .service ul {
        display: block;
        padding: 0px 10px;
    }

    .service_list {
        margin-bottom: 20px;
    }

    .service_list img {
        width: 100%;
    }
}
