@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ヘッダー */
/* body { */
/* background-color: gray; */
/* } */

.header_wrap {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.main {
    max-width: 1920px;
    background-color: #e8d9bf;
}

/* Have_a_happy_day_From_a_cup_of_coffee */
.top {
    padding-top: 104px;
    text-align: center;
}

.top .text_01 {
    margin-bottom: 46px;
    font-size: 30px;
}

.top .text_02 {
    margin-bottom: 25px;
    font-size: 81px;
    line-height: 1.2;
    letter-spacing: 0.1em;
}

.top .text_03 {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

/* about_us */
.about {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 96px;
}

.about_us_inner {
    display: flex;
    justify-content: space-between;
}

.about_us_img img {
    width: 100%;
    height: 560px;
    object-fit: cover;
    border-radius: 0px 0px 80px 0px;
}

.about_us_img {
    width: 50%;
}

.about_us_text {
    width: 50%;
    margin: 57px auto 0px 0;
    padding-left: 8%;
    padding-right: 10px;
    box-sizing: border-box;
}

.about_us_text img {
    width: 272px;
    height: 77px;
}

.about_us_text .text_01 {
    margin-top: 40px;
    font-size: 44px;
    line-height: 1.4;
}

.about_us_text .text_02 {
    margin-top: 20px;
    line-height: 1.6;
}

/* menu */
.menu {
    max-width: 1000px;
    margin: 0 auto;
    padding: 96px 10px 0;
}

.menu_img {
    width: 1000px;
    margin-bottom: 35px;
    text-align: center;
}

.menu_img img {
    width: 15%;
}

.menu_inner ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    margin: 9px 0px;
}

.menu_inner ul li img {
    width: 328px;
    border-radius: 0px 42px 0px 0px;
    margin: 0 auto;
}

.menu_inner .text_01 {
    margin: -10px 10px 11px 10px;
    font-size: 38px;
    font-weight: normal;
    color: #d30202;
}

.menu_inner .text_02 {
    font-size: 17px;
    line-height: 1.4;
}

/* gallery */
.gallary {
    padding-top: 80px;
}

.gallary_img {
    width: 100%;
    margin-bottom: 18px;
    text-align: center;
}

.gallary_img img {
    width: 17%;
}

.gallary ul {
    display: flex;
}

/* event */
.event {
    max-width: 1000px;
    margin: 0 auto;
    padding: 65px 10px 0;
}

.event_inner {
    text-align: center;
}

.event_img {
    width: 100%;
    margin-bottom: 30px;
}

.event_img img {
    width: 17%;
}

.event_block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #4f260b;
    background-color: white;
    padding: 30px 0;
}

.event_inner li {
    display: flex;
    font-size: 23px;
    line-height: 1.95;
}

.event_inner .text_01 {
    padding-right: 2.5em;
}

.event_inner .text_02 {
    text-decoration: underline;
}

/* access */
.access {
    padding-top: 70px;
}

.access_img {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.access_img img {
    width: 15%;
}

.access_map iframe {
    display: block;
    width: 100%;
    height: 471px;
}

/* footer */
.footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 75px 0;
    background-color: white;
}

.footer_inner {
    display: flex;
}

.footer_inner img {
    width: 226px;
    margin-right: 70px;
}

.footer_text .text {
    font-size: 20px;
    color: black;
    line-height: 1.95;
}

.footer_copy {
    font-size: 16px;
    text-align: center;
    margin-top: 73px;
}

.sp_btn,
.sp_nav {
    display: none;
}

#totop {
    position: fixed;
    bottom: 20px;
    right: 60px;
    width: 125px;
    height: 125px;
    padding: 10px 15px;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガーメニュー */
    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }

    .sp_btn span {
        position: relative;
        top: 10px;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        position: absolute;
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガーとじる */
    .sp_btn.open span {
        background-color: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    .sp_btn {
        display: block;
    }

    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .sp_nav ul li {
        padding: 20px;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
}
