@charset "utf-8";

/* メインビジュアル */

.mv_text img {
    width: 50%;
    position: absolute;
    top: 470px;
    right: 472px;
    text-align: center;
}

.about_inner {
    max-width: 1100px;
    margin: 0px auto;
    padding-top: 307px;
    position: relative;
}

.about_title {
    top: 10px;
    transform: rotate(90deg);
    transform-origin: 0 50%;
}

.about_shape {
    position: absolute;
    top: 88.791667vw;
    right: -2.6041666667vw;
}

.about_text {
    line-height: 48px;
    text-align: center;
    font-size: 20px;
}

.about_button_wrap {
    text-align: center;
    padding-top: 100px;
}
.about_button {
    width: 224px;
    height: 60px;
    background: #f46159;
    border-radius: 9999px;
    border: none;
}
