@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    background-color: #f3e9cf;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ボディー */
body {
    max-width: 1920px;
}

/* ヘッダー */
.nav_list {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto 25px;
}

.nav_list ul {
    display: flex;
}

.nav_list li {
    padding: 0px 56px;
}

.nav_list li:last-child {
    padding-right: 0px;
}

/* メインビジュアル */
.mv_text img {
    width: 50%;
    position: absolute;
    top: 470px;
    text-align: center;
}
