@charset "utf-8";

/* メインビジュアル */

.mv {
    width: 100%;
}

.mv_text img {
    width: 978px;
    position: absolute;
    top: 470px;
    left: 232px;
    text-align: center;
}

/* aboutセクション */

.about {
    max-width: 1100px;
    margin: 0 auto;
}
.about_inner {
    padding-top: 307px;
    position: relative;
}

.about_title {
    top: 27%;
    position: absolute;
    left: -6%;
}

.about_title img {
    width: 100px;
}

.about_shape {
    position: absolute;
    top: 23%;
    right: -9%;
}

.about_shape {
    width: 28%;
}

.about_text {
    line-height: 48px;
    text-align: center;
    font-size: 20px;
}

.about_button_wrap {
    text-align: center;
    padding-top: 100px;
}
.about_button {
    width: 224px;
    height: 60px;
    background: #f46159;
    border-radius: 9999px;
    border: none;
}

.about_button img {
    width: 101px;
}
